In [10]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [11]:
url = 'https://www.4icu.org/in/a-z/'
response = requests.get(url)
data = response.text
soup = BeautifulSoup(data,'html.parser')

In [12]:
table = soup.find('table',{'class':'table'})
tbody = table.find('tbody')
rows = tbody.find_all('tr')

In [13]:
dict={}

In [14]:
i=1
for x in rows:
  elements=x.find_all('td')
  l=0
  for y in elements:
    if(l == 0):
      rank = y.text
      l=l+1
    elif(l == 1):
      name = y.text
      link = 'https://www.4icu.org' + y.a.get('href')
      l+=1
    elif(l == 2):
      address = y.text
  dict[i]=[name,rank,link,address]
  i+=1

In [15]:
df = pd.DataFrame.from_dict(dict,orient='index',columns=['Name','Rank','Link','Address'])

In [16]:
df.to_csv('college details.csv')

In [17]:
df1=df.head(10)

In [18]:
df1

                                          Name  ...      Address
1                         Abhilashi University  ...   Chailchowk
2   Acharya N.G. Ranga Agricultural University  ...    Hyderabad
3                 Acharya Nagarjuna University  ...       Guntur
4                            Adamas University  ...      Barasat
5                             Adesh University  ...     Bathinda
6                   Adikavi Nannaya University  ...  Rajahmundry
7                         Ahmedabad University  ...    Ahmedabad
8               Ajeenkya D.Y. Patil University  ...     Lohegaon
9                              Akal University  ...     Bathinda
10                              AKS University  ...        Satna

[10 rows x 4 columns]

In [19]:
df2 =df.tail(10)

In [20]:
df2

                                                  Name  ...         Address
876                       West Bengal State University  ...         Barasat
877  West Bengal University of Animal and Fishery S...  ...         Kolkata
878          West Bengal University of Health Sciences  ...         Kolkata
879  West Bengal University of Teachers' Training, ...  ...         Kolkata
880                William Carey University, Meghalaya  ...        Shillong
881                      Xavier University Bhubaneswar  ...  Harirajpur ...
882                                     YBN University  ...          Ranchi
883                                Yenepoya University  ...       Mangalore
884                             Yogi Vemana University  ...          Kadapa
885                                     Add University  ...          Kadapa

[10 rows x 4 columns]

In [21]:
df.shape

(885, 4)

In [22]:
df_duplicate=df[df.duplicated('Name')]

In [23]:
df_duplicate.count

<bound method DataFrame.count of                       Name  ...  Address
612  Presidency University  ...  Kolkata

[1 rows x 4 columns]>

In [24]:
df_duplicate

                      Name  ...  Address
612  Presidency University  ...  Kolkata

[1 rows x 4 columns]

In [25]:
dfRank=df[df['Rank']=='1']

In [26]:
dfRank

                    Name Rank                                   Link    Address
821  University of Delhi    1  https://www.4icu.org/reviews/2130.htm  New Delhi

In [27]:
df100=df[df['Rank']=='100']

In [28]:
df100

                          Name  ...   Address
237  Guru Nanak Dev University  ...  Amritsar

[1 rows x 4 columns]

In [29]:
dfkol=df[df['Address']=='Kolkata'].count()

In [30]:
dfkol

Name       15
Rank       15
Link       15
Address    15
dtype: int64

In [31]:
dfdur=df[df['Address']=='Durgapur'].count()

In [32]:
dfdur

Name       1
Rank       1
Link       1
Address    1
dtype: int64

In [33]:
dflink=df[df['Link']=='https://www.4icu.org/reviews/7380.htm']

In [34]:
dflink

               Name Rank                                   Link      Address
874  VIT University    9  https://www.4icu.org/reviews/7380.htm  Vellore ...

In [35]:
dfrep=df.groupby('Name').max().count

In [36]:
dfrep

<bound method DataFrame.count of                                          Rank  ...             Address
Name                                           ...
AKS University                            375  ...               Satna
AP Goyal Shimla University                554  ...              Shimla
APJ Abdul Kalam Technological University   97  ...  Thiruvananthapuram
AURO University                           605  ...               Surat
Abhilashi University                      841  ...          Chailchowk
...                                       ...  ...                 ...
William Carey University, Meghalaya       756  ...            Shillong
Xavier University Bhubaneswar             309  ...      Harirajpur ...
YBN University                            831  ...              Ranchi
Yenepoya University                       516  ...           Mangalore
Yogi Vemana University                    520  ...              Kadapa

[884 rows x 3 columns]>

In [37]:
dfrep1=df.groupby('Address').max().count

In [38]:
dfrep1

<bound method DataFrame.count of                                                            Name  ...                                    Link
Address                                                          ...
Aalo                   North East Frontier Technical University  ...  https://www.4icu.org/reviews/17761.htm
Aarang                                          MATS University  ...  https://www.4icu.org/reviews/14332.htm
Agarpara                                         JIS University  ...  https://www.4icu.org/reviews/17887.htm
Agartala                                     Tripura University  ...  https://www.4icu.org/reviews/17788.htm
Agartala ...                          ICFAI University, Tripura  ...  https://www.4icu.org/reviews/12176.htm
...                                                         ...  ...                                     ...
Warangal             National Institute of Technology, Warangal  ...   https://www.4icu.org/reviews/2083.htm
Warangal ...                                Kakatiya University  ...   https://www.4icu.org/reviews/2055.htm
Wardha        Mahatma Gandhi Antarrashtriya Hindi Vishwavidy...  ...   https://www.4icu.org/reviews/7320.htm
Yupia         National Institute of Technology, Arunachal Pr...  ...  https://www.4icu.org/reviews/15640.htm
Ziro          Indira Gandhi Technological and Medical Scienc...  ...  https://www.4icu.org/reviews/16025.htm

[416 rows x 3 columns]>